.custom-color{
    border-radius:14px;
    width:100%;
    display:inline-block;
    text-align:center;
}

.custom-color span{
    padding:0px 10px;
    display:inline-block;
}

.grid .custom-color span{
    min-width:150px;
}