<?xml version="1.0"?>
<!--
 * @category    TheExtensionLab
 * @package     TheExtensionLab_StatusColors
 * @copyright   Copyright (c) TheExtensionLab (http://www.theextensionlab.com)
 * @license     Open Software License (OSL 3.0)
 * @author      James Anelay @ TheExtensionLab <james@theextensionlab.com>
 *
-->
<config>
    <tabs>
        <theextensionlab_tab>
            <label>TheExtensionLab</label>
            <sort_order>150</sort_order>
        </theextensionlab_tab>
    </tabs>

    <sections>
        <theextensionlab_statuscolors>
            <label>Status Colors</label>
            <tab>theextensionlab_tab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <!-- Display informatio about the extension e.g version number, github link etc. -->
                <extension_information>
                    <label>Frontend Information</label>
                    <frontend_model>theextensionlab_statuscolors/adminhtml_system_config_extensionInfo</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </extension_information>
                <grid_style>
                    <label>Grid Style</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <color_whole_row>
                            <label>Color Whole Row</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <tooltip><![CDATA[Turning on this option will colour the background of the whole row rather than just the status label.]]></tooltip>
                        </color_whole_row>
                    </fields>
                </grid_style>
            </groups>
        </theextensionlab_statuscolors>
    </sections>
</config>